################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sharepoint/PresentationLayer/bin/Debug
/sharepoint/PresentationLayer/obj/Debug
