<!doctype html>
<html>

<head>
    <title>Project M Test Login</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <style>
        body {
            font-family: "Courier New", Courier, monospace;
            background-color: #36393F;
            color: white;
        }

        .hide {
            display: none;
        }
    </style>

    <script type="text/javascript">
        function onLogin( res ) {
            if ( res[ "logoin" ] === true ) {
                $( "#login_form_div" ).addClass( 'hide' );
                $( "#logged_in_area" ).removeClass( 'hide' );
                $( "#user_id" ).text( res[ 'user_id' ] );
                //getCharsList();
            } else {
                $( "#login_form_div" ).removeClass( 'hide' );
                $( "#logged_in_area" ).addClass( 'hide' );
            }
        }

        $( document ).ready( function () {
            $( "#btnLogin" ).click( function () {
                var xhr = $.ajax( {
                    type: "POST",
                    url: "/auth/login",
                    data: JSON.stringify( {
                        "email": $( "#email" ).val(),
                        "password": sha256( $( "#password" ).val() )
                    } ),
                    success: ( output, status, xhr ) => {
                        console.log( xhr.getAllResponseHeaders( "Content-Type" ) );
                        output.logoin = true;
                        onLogin( output );
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false; // needed to keep the page
            } );

            $( "#btnLogout" ).click( function () {
                $.ajax( {
                    type: "POST",
                    url: "/auth/logout",
                    success: function ( res ) {
                        res.logoin = false;
                        onLogin( res );
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false;
            } );

            $( "#btnCreateChar" ).click( function () {
                $.ajax( {
                    type: "POST",
                    url: "/auth/token",
                    data: JSON.stringify( {
                        "context": "world:create",
                        "id": $( "#user_id" ).text()
                    } ),
                    success: ( output, status, xhr ) => {
                        console.log( output.token );
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false;


                // var socket = {};
                // var cnnStr = "http://192.168.30.132:60160";

                // socket.io = io( cnnStr );
                // // Client side event listener. It takes new messages from the server and appends it to HTML.
                // socket.io.on( 'connect', r => {
                //     console.log( 'connected' );
                //     console.log( r );

                //     socket.io.emit(
                //         'world:auth',
                //         JSON.stringify( {
                //             "token": "",
                //             "name": $( '#message' ).val()
                //         } ),
                //         () => {
                //             $( '#message' ).val( '' )
                //         }
                //     );

                // Before proceeding request a token on the REST for the world:auth topic.

                // Requires Bearer Token: NO
                // Namespace: /
                // Topic: auth
                // Payload: {token: String, character_id: String[UUID]}
                // OnSuccess: {channel_id: String[256bit hex], ti
                // } );
            } );

        } );

        // function openWebClient( character_id ) {
        //     $.ajax( {
        //         type: "POST",
        //         url: "/auth/token",
        //         data: JSON.stringify( {
        //             "context": "world",
        //             "id": character_id
        //         } ),
        //         success: function ( res ) {
        //             var win = window.open( '/system/test_client?token=' + res.token, '_blank' );
        //             if ( win ) {
        //                 //Browser has allowed it to be opened
        //                 win.focus();
        //             } else {
        //                 //Browser has blocked it
        //                 alert( 'Please allow popups for this website' );
        //             }
        //         },
        //         contentType: "application/json; charset=utf-8"
        //     } );
        // }

        // function getCharsList() {
        //     $( "#characters" ).empty()
        //     $.get( "/user/character", function ( res ) {
        //         jQuery.each( res.data, function ( i, d ) {
        //             $( "#characters" ).append( "<div>" + d.character_id + " " + d.name + " " +
        //                 '<button class="open_wc" id="open_wc_character_' + d.character_id + '">Open Client</button>' +
        //                 "</div><br />" ).css( {
        //                 "float": "left",
        //                 "position": "relative",
        //                 "margin-top": "20px"
        //             } );
        //             $( "#open_wc_character_" + d.character_id ).on( 'click', () => {
        //                 openWebClient( d.character_id )
        //             } );
        //         } );
        //     } );
        // }
    </script>
</head>

<body>
    <h1>Project M Test Platform</h1>
    <hr />
    <br />
    <br />
    <div id="container">
        <div id="container_login_form">
            <div id="login_form_div">
                <h2>Login:</h2>
                <form id="login_form">
                    Email:<br>
                    <input id="email" type="text" name="email"><br>
                    Password:<br>
                    <input id="password" type="password" name="password" autocomplete="off">
                    <br><br>
                    <button id="btnLogin">Login</button>
                </form>
            </div>
        </div>
        <div id="logged_in_area" class="hide">
            <h2>Logged in</h2>
            <h4>user_id: <span id="user_id"></span></h4>
            <div id="logout_button_div">
                <button id="btnLogout">Logout</button>
            </div>
            <hr />
            <br />
            <br />
            <h2>Create character:</h2>
            Character name:<br>
            <input id="character_name" type="text" name="name"> <button id="btnCreateChar">Create</button>
            <br /><br />
            <h2>Your characters:</h2>
            <!-- <a href="javascript:;" id="test">Get Chars</a> -->
            <div id="characters">
            </div>
        </div>
    </div>
</body>

</html>