<!doctype html>
<html>

<head>
    <title>Project M Test Login</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js"></script>
    <style>
        body {
            font-family: "Courier New", Courier, monospace;
            background-color: #36393F;
            color: white;
        }

        .hide {
            display: none;
        }

        #pingpong ::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }

        #pingpong ::-webkit-scrollbar-track {
            border: 1px solid yellowgreen;
            border-radius: 10px;
        }

        #pingpong ::-webkit-scrollbar-thumb {
            background: yellowgreen;
            border-radius: 10px;
        }

        #pingpong ::-webkit-scrollbar-thumb:hover {
            background: #88ba1c;
        }
    </style>

    <script type="text/javascript">
        function onLogin( res ) {
            if ( res[ "logoin" ] === true ) {
                $( "#login_form_div" ).addClass( 'hide' );
                $( "#logged_in_area" ).removeClass( 'hide' );
                $( "#user_id" ).text( res[ 'user_id' ] );
            } else {
                $( "#login_form_div" ).removeClass( 'hide' );
                $( "#logged_in_area" ).addClass( 'hide' );
            }
        }

        $( document ).ready( function () {


            var pingpong = document.getElementById( "pingpong" );

            function scrollToBottom() {
                pingpong.scrollTop = pingpong.scrollHeight;
            }

            // Create an observer and pass it a callback.
            var observer = new MutationObserver( scrollToBottom );
            // Tell it to look for new children that will change the height.
            var config = {
                childList: true
            };
            observer.observe( pingpong, config )


            var socket = {};
            var cnnStr = "http://192.168.30.132:60160";

            socket.io = io( cnnStr );

            $( "#btnLogin" ).click( function () {
                var xhr = $.ajax( {
                    type: "POST",
                    url: "/auth/login",
                    data: JSON.stringify( {
                        "email": $( "#email" ).val(),
                        "password": sha256( $( "#password" ).val() )
                    } ),
                    success: ( output, status, xhr ) => {
                        output.logoin = true;
                        onLogin( output );
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false; // needed to keep the page
            } );

            $( "#btnLogout" ).click( function () {
                $.ajax( {
                    type: "POST",
                    url: "/auth/logout",
                    success: function ( res ) {
                        res.logoin = false;
                        onLogin( res );
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false;
            } );

            $( "#btnCreateChar" ).click( function () {
                $.ajax( {
                    type: "POST",
                    url: "/auth/token",
                    data: JSON.stringify( {
                        "context": "create",
                        "id": $( "#user_id" ).text()
                    } ),
                    success: ( output, status, xhr ) => {

                        // Client side event listener. It takes new messages from the server and appends it to HTML.
                        socket.io.on( 'connect', r => {
                            console.log( 'connected' );
                            console.log( r );
                            socket.io.emit(
                                'create',
                                JSON.stringify( {
                                    "token": output.token,
                                    "name": $( '#character_name' ).val()
                                } ),
                                ( r, f, g, h ) => {
                                    console.log( [ r, f, g, h ] );
                                    // socket.io.emit(
                                    //     'character', "",
                                    //     function ( al ) {
                                    //         console.log( al );
                                    //     }
                                    // );
                                }
                            );
                        } );
                    },
                    contentType: "application/json; charset=utf-8"
                } );
                return false;
            } );

            socket.io.on( 'auth', auth => {
                console.log( "===== AUTH =====" );
                console.log( auth );
                // socket.authenticated_channel = io( '/' + message.data.channel_id )
                // socket.authenticated_channel.on( 'msg', x => {
                //     addMsg( 'PRIVCHAN: ' + x )
                // } )
                // socket.authenticated_channel.on( 'connect', y => {
                //     addMsg( 'Connected to PRIVCHAN ' + message.data.channel_id )
                // } )
            } );

            socket.io.on( 'msg', msg => {
                $( "#message" ).append( `<pre>${msg.data}</pre>` );

                // socket.authenticated_channel = io( '/' + message.data.channel_id )
                // socket.authenticated_channel.on( 'msg', x => {
                // addMsg( 'PRIVCHAN: ' + x )
                // } )
                // socket.authenticated_channel.on( 'connect', y => {
                // addMsg( 'Connected to PRIVCHAN ' + message.data.channel_id )
                // } )
            } );

            socket.io.on( 'success', success => {
                console.log( "===== SUCCESS =====" );
                console.log( success );
                // socket.authenticated_channel = io( '/' + message.data.channel_id )
                // socket.authenticated_channel.on( 'msg', x => {
                // addMsg( 'PRIVCHAN: ' + x )
                // } )
                // socket.authenticated_channel.on( 'connect', y => {
                // addMsg( 'Connected to PRIVCHAN ' + message.data.channel_id )
                // } )
            } );

            socket.io.on( 'data', data => {
                console.log( "===== DATA =====" );
                console.log( data );
                // socket.authenticated_channel = io( '/' + message.data.channel_id )
                // socket.authenticated_channel.on( 'msg', x => {
                // addMsg( 'PRIVCHAN: ' + x )
                // } )
                // socket.authenticated_channel.on( 'connect', y => {
                // addMsg( 'Connected to PRIVCHAN ' + message.data.channel_id )
                // } )
            } );

            socket.io.on( 'pong', function ( pong ) {
                $( "#pingpong" ).append( `<p>${pong}</p>` );
            } );
        } );

        // function openWebClient( character_id ) {
        //     $.ajax( {
        //         type: "POST",
        //         url: "/auth/token",
        //         data: JSON.stringify( {
        //             "context": "world",
        //             "id": character_id
        //         } ),
        //         success: function ( res ) {
        //             var win = window.open( '/system/test_client?token=' + res.token, '_blank' );
        //             if ( win ) {
        //                 //Browser has allowed it to be opened
        //                 win.focus();
        //             } else {
        //                 //Browser has blocked it
        //                 alert( 'Please allow popups for this website' );
        //             }
        //         },
        //         contentType: "application/json; charset=utf-8"
        //     } );
        // }

        // function getCharsList() {
        //     $( "#characters" ).empty()
        //     $.get( "/user/character", function ( res ) {
        //         jQuery.each( res.data, function ( i, d ) {
        //             $( "#characters" ).append( "<div>" + d.character_id + " " + d.name + " " +
        //                 '<button class="open_wc" id="open_wc_character_' + d.character_id + '">Open Client</button>' +
        //                 "</div><br />" ).css( {
        //                 "float": "left",
        //                 "position": "relative",
        //                 "margin-top": "20px"
        //             } );
        //             $( "#open_wc_character_" + d.character_id ).on( 'click', () => {
        //                 openWebClient( d.character_id )
        //             } );
        //         } );
        //     } );
        // }
    </script>
</head>

<body>
    <h1>Project M Test Platform</h1>
    <hr />
    <br />
    <br />
    <div id="container">
        <div id="container_login_form">
            <div id="login_form_div">
                <h2>Login:</h2>
                <form id="login_form">
                    Email:<br>
                    <input id="email" type="text" name="email"><br>
                    Password:<br>
                    <input id="password" type="password" name="password" autocomplete="off">
                    <br><br>
                    <button id="btnLogin">Login</button>
                </form>
            </div>
        </div>
        <div id="logged_in_area" class="hide">
            <h2>Logged in</h2>
            <h4>user_id: <span id="user_id"></span></h4>
            <div id="logout_button_div">
                <button id="btnLogout">Logout</button>
            </div>
            <hr />
            <br />
            <br />
            <h2>Create character:</h2>
            Character name:<br>
            <input id="character_name" type="text" name="name"> <button id="btnCreateChar">Create</button>
            <br /><br />
            <h2>Your characters:</h2>
            <!-- <a href="javascript:;" id="test">Get Chars</a> -->
            <div id="characters">
            </div>
        </div>
    </div>
    <div id="message">

    </div>
    <!-- <div style="position: absolute;top: 0;right: 0;font-family: monospace;font-size: small;">
        <div>Ping pong</div>
        <div id=" pingpong" style="height: 5em;overflow: auto;width: 20em;"></div>
    </div> -->
    <div id="pingpong" style="position: absolute; top:0;right:0;border: none;padding: 5px;font: 12pt monospace;width: 100px;height: 50px;overflow: scroll;">

    </div>
</body>

</html>